* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box; 
    color: white
}

button {
    background-color: red;
}

body {
    background-color: black;
    padding: 15%;
  } 

ol {
    padding-left: 25px;
}